*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
ul{
    list-style-type: none;
}
#app{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    outline: 1px solid rgba(0,0,0,0.35);
    border-radius: 15px;
    padding: 10px;
}
.cityname{
    font-size: 3rem;
}
.temp{
    font-size: 4rem;
    color: lightcoral;
}
#app h1{
    margin-bottom: 1em;
    font-size: 2rem;
}
.desc{
    font-size: 2rem;
}