*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-image: url('https://source.unsplash.com/v9bnfMCyKbg/1600x900');
    box-shadow: inset 0 0 0 1000px rgba(1,1,0,0.4);
    height: 100%;
}
.weather-default{
    background-image: url('https://source.unsplash.com/v9bnfMCyKbg/1600x900');
}
.weather-clear{
    background-image: url('https://source.unsplash.com/PEm_sLmJT-w/1600x900');
}
.weather-clouds{
    background-image: url('https://source.unsplash.com/78wDBw9ajUk/1600x900');
}
.weather-thunderstorm{
    background-image: url('https://source.unsplash.com/jh2KTqHLMjE/1600x900');
}
.weather-rain{
    background-image: url('https://source.unsplash.com/22x7fxFpl_8/1600x900');
}
.weather-snow{
    background-image: url('https://source.unsplash.com/2V30zQZAIPs/1600x900');
}
body{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
ul{
    list-style-type: none;
}
#app{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    /* outline: 1px solid rgba(0,0,0,0.35);
    border-radius: 15px; */
    padding: 10px;
    color: #fff;
}
.cityname{
    font-size: 3rem;
}
.temp{
    font-size: 4rem;
    color: lightcoral;
}
#app h1{
    margin-bottom: 1em;
    font-size: 2rem;
}
.desc{
    font-size: 2rem;
}
select{
    padding: 5px 1rem;
    margin-top: 1rem;
    border-style: none;
    border-radius: 5px;
}
.icon{
    width: 100%;
}